:root {
    --background: #FFFFFF;
    --primary: #32152f;
    --detail: #4E7DA6;
}

body {
    background: var(--background);
    color: var(--primary);
    font-family: monospace;
    padding: 2%;

}

p {
    padding: 0.1% 3%;
}

nav {
    font-family: Verdana;
    overflow: hidden;
    background: var(--detail);
    border-radius: 20px;
}

.navLink {
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 30px;
    color: var(--background);
}

.navLink:hover {
    background: var(--background);
    color: var(--primay);
}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--detail);
    color: var(--background);
    margin: 0px;
    padding: 0px;

}

@media screen and (min-width: 721px) {
    h1 {
        padding: 10px;
    }
    
    h3 {
        padding: 0.5px 10px;
    }

    img {
        /* max-width: 720px; */
        max-width: 100%;
    }
    
    #maillink {
        color: var(--background);
    }
    
    .textcontainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3em;
    }
}

@media screen and (max-width: 720px) {

    .textcontainer {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        /* grid-template-columns: repeat(1, 1fr); */
    }

    img {
        max-width: 600px;
        max-width: 100%;
    }
    
}

/* @media screen and (min-width:1440px) {
    body {
        background-color: var(--detail);
    }
    #content-main {
        background-color: var(--background);
        width: 1440px;
    }
} */