:root {
    --background: #FFFFFF;
    --primary: #32152f;
    --detail: #4E7DA6;
}

body {
    background: var(--background);
    color: var(--primary);
    font-family: monospace;
    padding: 2%;

}

@keyframes textstycke {
    from {transform: scale(0.99,0.99)}
    to {transform: scale(1,1)}
}

.textbox {
    animation: textstycke 0.2s;
}

nav {
    font-family: Verdana;
    overflow: hidden;
    background: var(--detail);
    border-radius: 20px;
}

.navLink {
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 30px;
    color: var(--background);
    transition: all .2s;
}

.navLink:hover {
    background: var(--background);
    color: var(--primay);
}

h3 {
    padding-left: 10px
}

h1 {
    padding-left: 5px;
}

p {
    padding-left: 10px
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--detail);
    color: var(--background);
    margin: 0px;
    padding: 0px;

}

#maillink {
    color: var(--background);
}

@media screen and (min-width: 721px) {
    img {
        max-width: 100%;
    }
    
    .textcontainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3em;
    }
}

@media screen and (max-width: 720px) {


    .textcontainer {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    img {
        max-width: 600px;
        max-width: 100%;
    }
    
}